<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Current song!</h1>
        <a class="btn btn-primary" href="<%= nightbot_oauth %>">OAuth</a>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>